.rocket {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 15px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.6) 100%
    );
    padding: 1rem;
    width: 715px;
    overflow: auto;
    margin: 2rem;
    height: 50vh;
}
.launch-card-main__loader {
    align-items: center;
    display: flex;
    width: 715px;
    justify-content: center;
    height: 100vh;
}
